<!DOCTYPE html>
<html>
<head>
    <title>Dashboard de Cadastros</title>
</head>
<body>
    <h1>Dashboard de Cadastros</h1>
    <a href="{% url 'index' %}">Início</a>
    <h2>Cadastrar Escola</h2>
    <form method="post">
        {% csrf_token %}
        {{ escola_form.as_p }}
        <button type="submit" name="escola-submit">Salvar Escola</button>
    </form>

    <h2>Cadastrar Participante</h2>
    <form method="post">
        {% csrf_token %}
        {{ participante_form.as_p }}
        <button type="submit" name="participante-submit">Salvar Participante</button>
    </form>

    <h2>Cadastrar Prova</h2>
    <form method="post">
        {% csrf_token %}
        {{ prova_form.as_p }}
        <button type="submit" name="prova-submit">Salvar Prova</button>
    </form>
</body>
</html>