<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Interface OCI</h1>
    <p>Acesse as páginas abaixo para visualizar ou cadastrar informações:</p>

    <h2>Menu:</h2>
    <ul>
        <li><a href="{% url 'lista_escolas' %}">Lista de Escolas</a></li>
        <li><a href="{% url 'lista_participantes' %}">Lista de Participantes</a></li>
        <li><a href="{% url 'lista_provas' %}">Lista de Provas</a></li>
        <li><a href="{% url 'cadastrar_escola' %}">Cadastrar Escola</a></li>
        <li><a href="{% url 'cadastrar_participante' %}">Cadastrar Participante</a></li>
        <li><a href="{% url 'cadastrar_prova' %}">Cadastrar Prova</a></li>
    </ul>
    <p><a href="{% url 'logout' %}">Sair</a></p>
</body>
</html>
