<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Interface OCI</h1>
    <p>Acesse as páginas abaixo para visualizar ou cadastrar informações:</p>

    <h2>Menu:</h2>
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard Geral</a></li>
        <li><a href="{% url 'dashboard_cadastros' %}">Dashboard de Cadastros</a></li>
        <li><a href="{% url 'ler_gabarito' %}">Ler Gabarito</a></li>
    </ul>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Sair</button>
</form>
</body>
</html>
