<!DOCTYPE html>
<html>
<head>
    <title>Escolas</title>
</head>
<body>
    <h1>Escolas:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
        </tr>
        {% for escola in escolas %}
        <tr>
            <td>{{ escola.id }}</td>
            <td>{{ escola.nome }}</td>
            <td><a href="{% url 'excluir_escola' escola.id %}" onclick="return confirm('Tem certeza que deseja excluir esta escola?');">Excluir</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'cadastrar_escola' %}">Adicionar Nova Escola</a>
    <br>
    <a href="{% url 'index' %}">Início</a>
</body>
</html>
